{% extends 'base.html' %}

{% block body %}
    <center>
        <h1 style="margin: 20px ;">Welcome to the Recommendation System</h1>
        <div style="border: 5px solid black; padding: 20px; width: 600px;">
           
            <img  src="/static/crops2.jpg" alt="Small Image" style="width: 500px; height: 400px; margin: 10px; border: 2px solid black; padding">
            <a href="/signup/"><button style="margin: 5px; border: 2px solid black;">Signup</button></a>
            <a href="/login/"><button style="margin: 5px; border: 2px solid black;">Login</button></a>
        </div>
    </center>
{% endblock body %}
