{% extends 'base.html' %}
{%block body%}
<center><h1>Predictor</h1></center>


<style>
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #000000; /* Adjust the border style as desired */
        padding: 20px; /* Adjust the padding value as desired */
        max-width: 400px; /* Adjust the maximum width of the form container */
        margin: 0 auto; /* Center the form container horizontally */
        margin:50px 500px ;
    }
</style>
<div class="form-container">
<form method='POST'>
    {% csrf_token %}
    <b>N</b>  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="number" name="N" required><br><br>
    <b>P</b>   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="number" name="P" required><br><br>
    <b>K</b>   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="number" name="K" required><br><br>
    <b>Temp</b> &nbsp&nbsp&nbsp<input type="number" name="temperature" required><br><br>
    <b>Humidi</b>  &nbsp&nbsp<input type="number" name="humidity" required><br><br>
    <b>Ph</b>   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="number" name="ph" required><br><br>
    <b>Rainfall</b>&nbsp&nbsp&nbsp<input type="number" name="rainfall" required><br><br>
    <input type="submit">
</form>

</div>

{% if result %}
    <center><h1> You need to plant {{ result }} crop in your land</h1></center>
{% endif %}

{%endblock body%}